# 1) Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from plotly.offline import iplot
import plotly as py
import plotly.tools as tls
import cufflinks as cf
py.offline.init_notebook_mode(connected=True)
cf.go_offline()

# 2) Importing Dataset

In [7]:
pd.read_csv("zomato.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 7044: invalid continuation byte

# 3) Basic Information

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

# 4) Erasing unwanted Data

In [ ]:
del df["url"]
del df["address"]
del df["phone"]

# 5) Duplicates

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

# 6) Checking for NAN Values

In [ ]:
df.isnull().sum()

# 7) Dropping all Null values

In [ ]:
del df["dish_liked"]  # since more than 50% of rows in dish_liked are Null values.

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull(),cbar=False)   # this method can be used to check the No. of null values Graphically

# Operation on Columns

In [ ]:
df.columns

In [ ]:
df=df.rename(columns={"approx_cost(for two people)":"cost",'listed_in(type)':"type","listed_in(city)":"city"})
df.columns

In [ ]:
df.head()

In [ ]:
df.cost.unique()

In [ ]:
## Some Transformations on "cost"

df["cost"]=df["cost"].astype(str)
df["cost"]=df["cost"].apply(lambda x: x.replace(",",""))
df["cost"]=df["cost"].astype(float)
df.info()

In [ ]:
## Some Transformation on "rate"

df["rate"].unique()

In [ ]:
df=df.loc[df.rate!="NEW"]  # to remove rows which are having "NEW"
df=df.loc[df.rate!="-"]
remove_slash=lambda x: x.replace("/5","") if type(x)==np.str else x
df.rate=df.rate.apply(remove_slash).str.strip().astype("float")
df["rate"].head()

In [ ]:
df.info()

# Pie Chart

In [ ]:
df.online_order.value_counts().plot.pie(fontsize=18,autopct="%.2f")

In [ ]:
df.book_table.value_counts().plot.pie(fontsize=18,autopct="%.2f")

In [ ]:
cat_cols=["online_order","book_table","type","city"]
i=0
while i<4:
    fig=plt.figure(figsize=[20,5])
    
    
    plt.subplot(1,2,1)
    sns.countplot(x=cat_cols[i],data=df)
    plt.xticks(rotation=45)
    i+=1
    
    plt.subplot(1,2,2)
    sns.countplot(x=cat_cols[i],data=df)
    plt.xticks(rotation=90)
    i+=1
    
    plt.show()

# Largest food chain in banglore

In [ ]:
df.name.value_counts().head(30).iplot(kind="bar")

# Most popular restaurant types

In [ ]:
df.rest_type.value_counts().head(30).iplot(kind="bar")

In [ ]:
df.describe()

In [ ]:
cat_cols=["rate","votes","cost","cost"]
i=0
while i<4:
    fig=plt.figure(figsize=[13,3])
    
    
    plt.subplot(1,2,1)
    sns.boxplot(x=cat_cols[i],data=df)
    i+=1
    
    plt.subplot(1,2,2)
    sns.boxplot(x=cat_cols[i],data=df)
    i+=1
    
    plt.show()

# Expensive Restaurant in banglore

In [ ]:
df[df.cost>3000].sort_values(ascending=False,by="cost")

1) Most expensive resturants have no Online Order
2) Most of the espensive resturants have ratings above "4"

In [ ]:
x=df[df.cost>3000]
x=x.sort_values(ascending=False,by="cost")
x=x.location.value_counts()

In [ ]:
x.iplot(kind="bar")

# Where are the most expensive restaurant located

In [ ]:
df[df.cost>3000].sort_values(ascending=False,by="cost").location.value_counts().iplot(kind="bar")

Majority of the expensive restaurant are located on "Residency Road"

In [ ]:
df[df.cost>3000].rest_type.value_counts().iplot(kind="bar")

most expensive restaurants are "Fine dinning"

# Ratings by type of restaurant

In [ ]:
rate_type=pd.crosstab(df["rate"],df["type"])
rate_type.iplot(kind="bar",barmode="stack")

In [ ]:
rate_type

In [ ]:
df.sort_values(ascending=False,by="votes").head(10)

# Resturant per location

In [ ]:
df["location"].value_counts().head(20).iplot(kind="bar")

In [ ]:
plt.figure(figsize=(10,5))
sns.scatterplot(x="rate",y="cost",hue="online_order",data=df,style="book_table")
plt.show()

# Best Economical Resturants

In [ ]:
df[(df["cost"]<=100) & (df["rate"]>=4)].sort_values(by=["rate"],ascending=False)

# Where are the most cheapest resturants located

In [ ]:
df[(df["cost"]<=100) & (df["rate"]>=4)].sort_values(by=["rate"],ascending=False).location.value_counts().iplot(kind="bar")

The best cheapest resturants are located in "Basavanagudi","Jayanagar"

In [ ]:
df["cost"].mean()

# Best Average cost Resturants

In [ ]:
df[(df["cost"]<=df["cost"].mean())&(df["rate"]>=4)].sort_values(by="rate",ascending=False)

# Popular cuisine in bangalore

In [ ]:
df.cuisines.value_counts().sort_values(ascending=False).head(10).iplot(kind="bar")

North Indian and North indian Cuisines are most popular cuisines in bangalore

# Average cost by location

In [ ]:
resbyloc=df.groupby("location")

In [ ]:
resbyloc.mean()

In [ ]:
resbyloc.mean().sort_values(by="cost").iplot(kind="bar",barmode="stack")

In [ ]:
print("Cost for Two :")
res_cost=float(input(""))
print("Location :")
res_loc=input("")
def top_rest(res_cost,res_loc):
    x=df[(df["cost"]<=res_cost) & (df["rate"]>=4) & (df["location"]==res_loc)].sort_values(by=["rate"],ascending=False)
    return x
top_rest(res_cost,res_loc)